<!DOCTYPE html>
<html>
  <head>
    <title>松下組備品管理システム - <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <% for(var i=0; i<books.length; i++) { %>
      <li>
        <%= books[i].title %>
      </li>
    <% } %>
  </body>
</html>
