<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./header', {user: user}) %>
    <h1><%= title %></h1>
    <p><a href='/books'>本一覧</a></p>
    <p><a href='/books/new'>本の新規登録</a></p>
  </body>
</html>
